<div class="contain">
  <h1>Stupid Coaching</h1>
  <h2 class="bordr"><%= @questions %></h2>
  <p>-You</p>

  <h2 class="colr"><%= @answers %></h2>
  <p>-Coach</p>

  <%= link_to "ask a question", "ask" %>

</div>
